
<div class="container">
  <h2> {{ title }}</h2>

  
  
  <div class="row">
  <div class="col-xs-6 col-sm-6 col-lg-6"><label>Search: <input ng-model="searchProduct"></label>
  </div>
  <div class="col-xs-6 col-sm-6 col-lg-6"> <button type="button" class="btn btn-warning" ng-click="getBestSellers()">
  		Best Sellers
        </button>
  </div>
  </div>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Marca</th>
       <!--   ACA QUIERO AGREGAR ICONO!-->
        <th ng-click="sortBy('precio')">Precio</th>
        <th ng-click="sortBy('categoria')" >Categoria</th>
        <th ng-click="sortBy('fecha')">Fecha</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr  ng-repeat="(key, item) in products| orderBy:propertyName:reverse | filter: searchProduct" >
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.marca}}</td>
        <td>{{item.precio}}</td>
        <td>{{item.categoria.nombre}}</td>
        <td>NO TENGO FECHAS</td>
        <td>
			<select>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  <option value="4">4</option>
			  <option value="5">5</option>
			</select>
        </td>
        <td><button type="button" class="btn btn-success" ng-click="add()">Agregar
        </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

