<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0;">
                    <h4 ng-if="!productoDetalle" class="modal-title">Carrito</h4>
                    <h4 ng-if="productoDetalle" class="modal-title">Detalle Producto: {{productoDetalle.nombre}}</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" ng-if="carrito.items.length > 0 && !productoDetalle">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>SubTotal</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, item) in carrito.items">
                                <td>{{item.producto.nombre}}</td>
                                <td>{{item.cantidad}}</td>
                                <td>${{item.producto.precio}}</td>
                                <td>${{item.subTotal}}</td>
                                <td style="cursor:pointer;" ><span class="glyphicon glyphicon-remove" ng-click="removeItem(key)"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="carrito.items.length == 0 && !productoDetalle">
                        No tiene elementos en el carrito.
                    </div>
                    <div ng-if="productoDetalle">
                        <img style="height:400px; width:500px" ng-src="{{productoDetalle.foto}}">
                        <div>
                            {{productoDetalle.datosExtra}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: 0;">
                    <button ng-if="!productoDetalle" type="button" class="btn btn-default" data-dismiss="modal">Close
                    </button>
                    <button ng-if="carrito.items.length > 0 && !productoDetalle" ng-disabled="isLoading" type="button" class="btn btn-info" ng-click="confirmCarrito()">
                        Confirmar Carrito
                    </button>
                    <button ng-if="productoDetalle" ng-click="close()">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: right;">
	     <button type="button" class="btn" ng-click="logOut()">
	    	Salir
	    	</button>
    	</div>
    	    <div class="col-xs-12 col-sm-12 col-lg-12">
     	<h2> {{ title }}</h2>
     </div>
    </div>
   

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <label>Search: <input ng-model="searchProduct"></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6" style="text-align: right;">
            <button type="button" class="btn btn-primary" ng-click="productoDetalle=null" data-target="#myModal"
                    data-toggle="modal">
                Ver Carrito
            </button>
            <button type="button" class="btn btn-primary" ng-click="goSales()">
                Ver mis compras
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <button type="button" class="btn btn-warning" ng-click="getBestSellers()">
                Ver Best Sellers
            </button>
            <button type="button" class="btn btn-warning" ng-click="getAll()">
                Ver todos los productos
            </button>
        </div>          
    </div>
    <br>
<div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align:right">
                    <button type="button" class="btn btn-warning" ng-click="showFilters()">
                {{ filters.show ? 'Ocultar' : 'Ver'}} Filtros
            </button>
                    </div>
                    </div>

    <div ng-show="filters.messages.success" class="alert alert-success">
        <strong>Ok!</strong> {{filters.messages.success}}
    </div>

    <div ng-show="filters.messages.info" class="alert alert-info">
        <strong>Info!</strong> {{filters.messages.info}}
    </div>

    <div ng-show="filters.messages.alert" class="alert alert-danger">
        <strong>Error!</strong> {{filters.messages.alert}}
    </div>

    <br>

    <div class="row" style="font-family: calibri;font-size:initial;font-weight: bold;" ng-show="filters.show">
            <div class="col-xs-6 col-md-6 col-sm-4 col-lg-6" style="color:#0ed80e">
                <div>Precio</div> 
                <span>Min</span><input type="number" min="0" ng-model="filters.price.min"/>
                <span>Max</span><input type="number" min="1" ng-model="filters.price.max"/>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-4 col-lg-6" style="color:#d8209e">
                <div>Fecha</div>
                <span>Desde</span><input type="date" ng-model="filters.date.from"/>
                <span>Hasta</span><input type="date" ng-model="filters.date.to"/>
            </div>
    </div>
<br>
    <div class="row" style="font-family: calibri;font-size:initial;font-weight: bold;">
        <div class="col-xs-12">
            <span>Ordenar por</span>
            <select style="background:#dcdcdc" ng-model="filters.sorting.sortBy">
                <option value="precio">Precio</option>
                <option value="tipo">Tipo</option>
                <option value="fecha">Fecha</option>
                <option value="ranking">Ranking</option>
            </select>
            <span style="cursor: pointer" ng-click="filters.sorting.reverse = !filters.sorting.reverse">Invertir orden</span>
        </div>
    </div>
<br>
    <div class="products-list">

        <div ng-repeat="item in filteredProducts" ng-if="$index % 3 == 0" class="row">
            <product class="col-xs-12 col-sm-4" product="filteredProducts[$index]"></product>
            <product class="col-xs-12 col-sm-4" product="filteredProducts[$index + 1]" ng-if="filteredProducts.length > ($index + 1)"></product>
            <product class="col-xs-12 col-sm-4" product="filteredProducts[$index + 2]" ng-if="filteredProducts.length > ($index + 2)"></product>
        </div>

    </div>

    <div ng-if=false class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Marca</th>
                <th>
                    <span style="cursor: pointer;" ng-click="sortBy('precio')" class="glyphicon glyphicon-sort"></span>
                    Precio
                </th>
                <th>
                    <span style="cursor: pointer;" ng-click="sortBy('tipo')" class="glyphicon glyphicon-sort"></span>
                    Tipo
                </th>
                <th>
                    <span style="cursor: pointer;" ng-click="sortBy('fecha')" class="glyphicon glyphicon-sort"></span>
                    Fecha
                </th>
                <th>
                    <span style="cursor: pointer;" ng-click="sortBy('ranking')" class="glyphicon glyphicon-sort"></span>
                    Ranking
                </th>
                <th>Cantidad</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, item) in products| orderBy:propertyName:reverse | productsFilter:searchProduct">
                <td style="cursor: pointer;" ng-click="openDetail(item)">{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.marca}}</td>
                <td>${{item.precio}}</td>
                <td>{{item.tipo}}</td>
                <td>{{item.fechaAlta}}</td>
                <td ng-if="item.ranking">{{item.ranking}}</td>
                <td ng-if="!item.ranking">-</td>
                <td><input style="width: 40px" type="number" min="1" ng-model="quantity"></input>
                </td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="add(this)" ng-disable="!this.quantity">
                        Agregar
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

