<ul class="nav nav-tabs">
  <li role="presentation" ng-click="verCotizaciones()" ng-class="{'active':!armandoCot}"><a href="">Ver Cotizaciones</a></li>
  <li role="presentation" ng-click="armarCotizacion()" ng-class="{'active':armandoCot}"><a href="">Armar Cotizaciones</a></li>
</ul>
<div class="row">
    <div class="col-xs-12" ng-show="!armandoCot">
        <div ng-repeat="cot in cotizaciones" class="row">
            <div class="col-xs-1">
                {{cot.id}}
            </div>
            <div class="col-xs-3">
                {{cot.estado}}
            </div>
            <div class="col-xs-4">
                {{cot.fecha}}
            </div>
            <div class="col-xs-4">
                <span ng-click="datos.cotId = cot.id" ng-show="datos.cotId != cot.id">Ver Cotizacion</span>
                <span ng-click="datos.cotId = 0" ng-show="datos.cotId == cot.id">Ocultar Cotizacion</span>
            </div>
            <div ng-show="datos.cotId == cot.id">
                <table class="table table-hover">
                    <tr>
                        <td>SKF</td>
                        <td>Tipo</td>
                        <td>Precio</td>
                        <td>Pedidos</td>
                    </tr>

                    <tr ng-repeat="rod in cot.items">
                        <td>
                            {{rod.rod.codigoSKF}}
                        </td>
                        <td>
                            {{rod.rod.tipo}}
                        </td>
                        <td>
                            {{rod.itProveedor.precio}}
                        </td>
                        <td>
                            {{rod.cantidad}}
                        </td>
                    </tr>
                </table>
            	<div style="text-align:center">
            		<button class="btn btn-primary" ng-click="aceptarCotizacion(cot.id)" ng-show="cot.estado == 'Armada'">Aceptar Cotizacion</button>
            	</div>
            </div>
        </div>
    </div>

    <div class="col-xs-12" ng-show="armandoCot">
        <div ng-show="rodamientos.length > 0">
            <input ng-model="buscarRod" class="form-control skf-search" placeholder="Buscar Rodamiento">
            <table class="table table-hover">
                <tr>
                    <td>SKF</td>
                    <td>Tipo</td>
                    <td>Cantidad</td>
                </tr>

                <tr ng-repeat="rod in rodamientos | filter:buscarRod">
                    <td>
                        {{rod.codigoSKF}}
                    </td>
                    <td>
                        {{rod.tipo}}
                    </td>
                    <td>
                    <input ng-model="rodamientos[$index].cantidad">
                    </td>
                </tr>
            </table>
        	<button class="btn btn-default" type="submit" ng-click="generarCotizacion(rodamientos)">Generar</button>
        </div>
    </div>
</div>

<div class="alert alert-success" ng-show="msg">
    <strong>{{msg}}</strong>
</div>
<div class="alert alert-danger" ng-show="error">
    <strong>{{error}}</strong>
</div>