<div class="product">
    <div class="product-ranking" ng-if="product.ranking">
        {{product.ranking}}
    </div>
    <div class="image-container" ng-style="getBg(product.foto)" ng-click="openDetails()">
    </div>
    <div class="product-name">
        {{product.nombre}}
    </div>
    <div class="product-price">
        {{product.precio | currency}}
    </div>
    <div class="product-action">
        <input style="width: 40px" type="number" min="1" ng-model="quantity"/>
        <button type="button" class="btn btn-primary" ng-click="add()">
            Agregar al carrito
        </button>
    </div>
</div>